.bg-img {
    opacity: 1;
}

#home-center {
    margin-top: 25%;
}

#home-nav a {
    color: black;
}

#home-social a {
    color: black;
}

#home-footer {
    color: black;
}

#home-footer a {
    color: black;
}